@media (max-width:1150px) {

    .relax>.right {
        width: 100%;
        padding-left: 40px;
        padding-bottom: 60px;
        padding-top: 50px;
        height: auto;
    }

    .right>p {
        font-size: 16px;
    }

    .small_icon>.init>h3 {
        font-size: 13px;
    }

    .small_icon {
        margin-bottom: 20px;
    }
}

@media (max-width:1000px) {
    .bot_right {
        display: none;
    }

    .txt>h3 {
        margin-bottom: 10px;
    }

    .ready>h2 {
        font-size: 30px;
    }

    .ready>a {
        width: 140px;
        height: 42px
     }
     
     .left_right {
            padding-left: 40px;
            padding-right: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .relax>.left {
            display: none;
        }
    }

    @media (max-width:710px) {
        .round_icon {
            display: none;
        }

        .ready>h2 {
            font-size: 20px;
        }

        .right>h2 {
            font-size: 30px;
        }

        .right>a {
            height: 40px;
            width: 130px;
            font-size: 12px;
        }


        .div_awesome>img {
            display: none;
        }

        .culture {
            padding: 100px 10px;
        }
    }

    @media (max-width:1281px) {
        .bot_right>img {
            display: none;
        }

        .latest {
            padding: 50px 0 50px 0;
        }
    }

    @media (max-width:813px) {
        .round_icon {
            display: none;
        }

        .header h1 {
            font-size: 40px;
        }

        .header h4 {
            font-size: 15px;
        }

        .header>a {
            width: 160px;
            height: 40px;
            font-size: 10px;
        }



        .div_awesome>img {
            display: none;
        }

    }

    @media (max-width:1200px) {
        .pre_round_line>.round_line {
            background: #777777;
        }
    }

    @media (max-width:600px) {
        .pre_round_line {
           display: none !important;
        }
    }

    @media (max-width:991px) {

        .second_chap,
        .third_chap {
            align-items: center;
        }

        .first_chap {
            align-items: center;
        }

        footer p {
            margin-bottom: 10px;
        }
    }